.librarycontainer{
    display: flex;
    margin-left: 128px;

  
}
.bodycotainer{
    margin-left: 128px;
    margin-right: 128px;
}
.sorticon{
    margin-left: 20px;
}
.makemark{
    z-index: 10;
    position:absolute;
    background-color: transparent;
    border: none;
    margin-left: 280px;
    margin-top: 50px;
}

 