@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap");
.videopic {
  width: auto;
  max-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 0;
}

.videocontainer {
  margin-left: 128px;
}

.functionbar {
  margin-top: -45px;
  margin-left: 16px;
}

.video-icon {
  display: inline;
  margin-left: 15px;
}

.chatsection {
  width: 285px;
  height: 600px;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #212121;
}

h1, h2, h3, h4, h5, p {
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 700;
  margin: 20px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 400;
  margin: 20px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #D3D3D3;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #FFFFFF;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding: 0px 10px 20px 10px;
}

a {
  text-decoration: none;
}

/****************** NAVBAR *******************/
.navbar {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  color: #FFFFFF;
  margin: 80px;
}

.navbar a {
  padding-left: 40px;
  color: #FFFFFF;
}

.userprofile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
}

.userprofile p {
  margin-top: 15px;
}

.avatar {
  width: 45px;
  height: 45px;
}


.header {
  background-image: url("../header.png");
  width: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  padding: 70px 10% 70px 10%;
}

.header p {
  padding-left: 20px;
  max-width: 280px;
}

.header .button {
  margin-left: 30px;
}

.button {
  background-color: #EF4C23;
  padding: 10px 40px 10px 40px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.button:hover {
  background-color: #D3D3D3;
  color: #EF4C23;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.mamacontainer {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.Topictab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0px 20px 0px;
}

.tagcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}

.tagcon h2 {
  margin: 0;
}

.tags {
  margin-left: 24px;
  border-radius: 8px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 10px 20px 10px 20px;
  background-color: #605F5F;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

/****************** SEARCH *******************/
.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0px 20px 0px;
}

.search-container .search {
  color: #FFFFFF;
  background-color: #605F5F;
  border-radius: 8px;
  border: none;
}

.searchicon {
  margin-right: 20px;
  width: 20px;
  height: 35px;
  cursor: pointer;
}

input[type=text] {
  padding: 6px;
  font-size: 17px;
  border: none;
}

input[type=text] {
  border: 1px solid #ccc;
}

/****************** VIDEO SELECTION *******************/
.videolisCon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.videolisCon .video {
  margin-top: 30px;
  margin-right: 20px;
}

.videolisCon .project_image {
  opacity: 1;
  width: 100%;
  height: auto;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

/********************/
.content {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p {
  color: #fff;
  font-size: 0.8em;
}

/********* FOOTER **************/
.footer {
  width: 100%;
  height: 100px;
  color: #605F5F;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #212121;
}
/*# sourceMappingURL=index.css.map */